.linkButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    height: 45px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    background-color: #333333;
    transition: 500ms;
}

.linkButton:hover{
    background-color: #C4F82A;
    color: #333333;
}